*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #fff;
  --color-dark: #3d3d3d;
  --color-main: #ff5e57;
  --color-lightdark: #f0f0f0;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  text-align: center;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-dark);
  background: var(--color-light);
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  padding: 10.8rem 0;
}

.section-title {
  position: relative;
  font-size: 3.6rem;
  margin: 0 0 6rem 0;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 1rem;
  left: 50%;
  bottom: -1.2rem;
  transform: translateX(-50%);
  background: var(--color-main);
}
