<section class="about">
  <div class="container">
    <h2 class="section-title">Hello World!</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
      aspernatur porro, impedit, assumenda ratione tenetur fugiat rem, ipsa quam
      adipisci ipsam doloremque qui accusamus suscipit doloribus maiores!
      Voluptates, ratione totam.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero sed rem
      minima sequi! Nulla a non accusamus atque sint, aliquam accusantium odit
      id quisquam aperiam dolore. Nihil repudiandae ipsa repellendus!
    </p>
  </div>
</section>

<style>
  .about {
    background: var(--color-lightdark);
  }
</style>
