<section class="about">
  <div class="container">
    <h2 class="section-title">Hello World!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nam
      corporis, quasi tempora autem quisquam obcaecati voluptatem quis quam
      soluta reiciendis delectus velit natus totam minus odio veniam odit
      facere.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente minus
      laudantium architecto! Praesentium explicabo optio, id ullam eum dicta
      iste consectetur accusamus sint ipsa. Soluta eos molestias magnam rem
      voluptas.
    </p>
  </div>
</section>

<style>
  .about {
    background: #f0f0f0;
  }

  p {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 2rem;
  }
</style>
