---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>
    All rights reserved &copy;LexDiecast Collector <span class="footer__year"
      >{year}</span
    >
  </p>
</footer>

<style>
  .footer {
    font-size: 2.5rem;
  }
  .footer__year {
    font-weight: bold;
  }
</style>
