<footer class="page-footer">
  <div class="container">
    <p>Marek Miskowiec @2025</p>
  </div>
</footer>

<style>
  .page-footer {
    height: 50px;
    font-size: 25px;
    background: #242424;
    color: var(--clr-light);
  }
</style>
