<section class="gallery">
  <h2 class="section-title">My diecast gallery!</h2>
  <div class="gallery__container">
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
    <img src="/car1.jpg" alt="" />
  </div>
</section>

<style>
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .gallery__container img {
    width: 400px;
  }
</style>
