<section class="gallery">
  <h2 class="section-title">Gallery</h2>
  <div class="gallery__container">
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
    <img
      src="https://cdn.pixabay.com/photo/2016/05/18/10/52/buick-1400243_1280.jpg"
      alt=""
    />
  </div>
</section>

<style>
  .gallery {
    max-width: 1500px;
    margin: 0 auto;
  }
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .gallery__container img {
    height: 200px;
    object-fit: cover;
  }
</style>
