<section class="intro">
  <div class="container">
    <p>
      I turn tea and cookies intro crips and elegant code.<br />
      I experiment and I make the world awesome.
    </p>
  </div>
</section>

<style>
  .intro {
    background: var(--clr-light);
  }

  .intro p {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
    font-size: 2.5rem;
    border-top: 0.1rem solid #3d3d3d;
    border-bottom: 0.1rem solid #3d3d3d;
  }
</style>
